<div class="tuit-form-container">
    <a href="/tuits/dashboard">Voltar</a>
    <h1>Criando um Tuit</h1>

    <form action="/tuits/add" method="POST">
        <div class="form-control">
            <label for="title">Título</label>
            <input type="text" name="title" placeholder="O que está pensando hoje?">
        </div>

        <input type="submit" value="Criar">
    </form>

</div>