<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/tuits/add" class="btn">Criar Tuit</a>
    </div>

    <h3>Seus Tuits</h3>
    <ul>
        {{#each tuits}}
        <li>
            {{this.title}}<span class="label"></span>
            <span class="actions">
                <a href="/tuits/edit/{{this.id}}" class="btn">Editar</a>

                <form action="/tuits/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
            </span>

        </li>
        {{/each}}
    </ul>
    {{#if emptyTuits}}
        <p>Ainda não há nenhum Tuit seu, comece a <a href="/tuits/add">criar!</a></p>
    {{/if}}

</div>